@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600;1,700&display=swap");
body {
  font-style: bold;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -2px;
  height: 1000px;
}

nav {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

nav > p {
  font-size: 2rem;
  margin-top: 24px;
  margin-left: 0.5%;
  float: left;
  margin-right: 24px;
}

.navbutton {
  height: 100%;
  width: 15%;
  max-width: 200px;
  min-width: 55px;
  text-align: center;
  height: 100%;
}

i {
  display: block;
  margin-top: 20px;
  font-size: 2rem;
}

.navbutton > span {
  opacity: 0;
  margin-right: 200px;
  letter-spacing: 1px;
  transition: margin-right 0.5s, opacity 0.5s;
}

.navbutton:hover > span {
  opacity: 1;
  margin-right: 0px;
}

.dark, .light {
  transition: background-color 0.35s, color 0.35s;
}

body.dark {
  background-color: #222222;
  color: #888888;
}

body.light {
  background-color: #888888;
  color: #222222;
}

nav.dark {
  background-color: #000000;
  color: #ffffff;
}

nav.light {
  background-color: #ffffff;
  color: #000000;
}

.navLink:link.dark, .navLink:visited.dark {
  color: #ffffff;
  text-decoration: none;
}

.navLink:link.light, .navLink:visited.light {
  color: #000000;
  text-decoration: none;
}
