$darkBodyPrimary: #222222;
$darkBodySecondary: #3C3C3C;
$darkBodyTertiary: #565656;

$darkBodyFontPrimary: #888888;
$darkBodyFontSecondary: #6F6F6F;

$lightBodyPrimary: #888888;
$lightBodySecondary: #6F6F6F;
$lightBodyTertiary: #898989;

$lightBodyFontPrimary: #222222;
$lightBodyFontSecondary: #3C3C3C;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600;1,700&display=swap');

@keyframes incorrectanimation{
  25%{
    transform: translate(25px)
  }
  50%{
    transform: translate(-25px)
  }
  75%{
    transform: translate(25px)
  }
}

body{
  font-style: bold;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -2px;
  height: 900px;
}

nav{
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

nav > p{
  font-size: 2rem;
  margin-top: 24px;
  margin-left: 0.5%;
  float: left;
  margin-right: 24px;
}

.navbutton{
  height: 100%;
  width: 15%;
  max-width: 200px;
  min-width: 55px;
  text-align: center;
  height: 100%;
}

i{
  display: block;
  margin-top: 20px;
  font-size: 2rem;
}

.navbutton > span{
  opacity: 0;
  margin-right: 200px;
  letter-spacing: 1px;
  transition: margin-right 0.5s, opacity 0.5s;
}

.navbutton:hover > span{
  opacity: 1;
  margin-right: 0px;
}

#loginform{
  margin-top: 125px;
  height: 225px;
  max-width: 500px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#username{
  margin-top: 15px !important;
}

#submit{
  width: 50% !important;
  font-size: 1rem !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  p{
    height: auto;
    width: auto;    
    padding: 5.5%;
    margin-left: auto;
    margin-right: auto;
  }
}

#username, #password, #submit{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 85%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  display: block;
  transition: border-radius 0.5s, opacity 0.5s;
  outline: none;
  opacity: 1;
  font-size: 1.5rem;
  border: none;
  &:hover, &:focus{
    border-radius: 20px;
    opacity: 0.75;
  }
}

#create_account{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#loginform > label{
  width: 100%;
  text-align: center;
  display: block;
}

#userinfo{
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  img{
    border-radius: 25px;
    float: left;
    margin-right: 1%;
  }
  p{
    font-size: 3rem;
  }
  div{
    border-radius: 25px;
    height: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    text-align: center;
    font-size: 1rem;
    right: 0;
    float: right;
  }
}

#articles{
  margin-top: 125px;
  padding-bottom: 125px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  p{
    font-size: 2rem;
    font-weight: bold;
  }
}

.dark, .light{
  transition: background-color 0.35s, color 0.35s;
}

body{
  &.dark{
    background-color: $darkBodyPrimary;
    color: $darkBodyFontSecondary;
  }

  &.light{
    background-color: $lightBodyPrimary;
    color: $lightBodyFontSecondary;
  }
}

nav{
  &.dark{
    background-color: $darkBodySecondary;
    color: $darkBodyFontPrimary;
  }

  &.light{
    background-color: $lightBodySecondary;
    color: $lightBodyFontPrimary;
  }
}

.navLink:link, .navLink:visited{
  &.dark{
    color: $darkBodyFontPrimary;
    text-decoration: none;
  }

  &.light{
    color: $lightBodyFontPrimary;
    text-decoration: none;
  }
}

#username, #password, #submit{
  &.dark{
    background-color: $darkBodySecondary;
    color: $darkBodyFontPrimary;
  }

  &.light{
    background-color: $lightBodySecondary;
    color: $lightBodyFontPrimary;
  }
}

::placeholder{
  color: black;
}

#userinfo{
  div{
    &.dark{
      background-color: $darkBodySecondary;
      color: $darkBodyFontPrimary;
    }
  
    &.light{
      background-color: $lightBodySecondary;
      color: $lightBodyFontPrimary;
    }
  }
}